@model Postagem.Models.Entrega

@{

        ViewData["Title"] = "Deletar registro de entrega";


}

<h1 style = "color: red;"> Deseja realmente deletar esse registro de entrega? Essa operação é irreversível. </h1>

</hr>

<table class = "table">

        <thead>

              <tr>

                  <th>

                        @Html.DisplayNameFor(model  => model.Id)

                  </th>

                  <th>

                        @Html.DisplayNameFor(model  => model.Data)

                  </th>

                  <th>

                        @Html.DisplayNameFor(model  => model.IdCarta)

                  </th>

                   <th>

                        @Html.DisplayNameFor(model  => model.IdTerritorio)

                  </th>

                   <th>

                        @Html.DisplayNameFor(model  => model.Local)

                  </th>

                    <th>

                        @Html.DisplayNameFor(model  => model.Status)

                  </th>

                   

                  

                  <th></th>

            </tr>

            

        </thead>

        <tbody>

            
                      <tr>

                          <td>

                                @Html.DisplayFor(model  => model .Id)

                         <td>

                                  @Html.DisplayFor(model  => model.Data)  

                         </td>

                         <td>

                                @Html.DisplayFor(model  => model.IdCarta)

                         </td>

                        <td>

                                @Html.DisplayFor(model  => model.IdTerritorio)

                         </td>

                        <td>

                               @Html.DisplayFor(model  => model.Local)

                         </td>

                          <td>

                               @Html.DisplayFor(model  => model.Status)

                         </td>

                        

                         
                          </td>

                          
                      </tr>


              

        </tbody>

</table>
 

<form asp-action = "Deletar">

    <input type = "submit" value = "Deletar" class = "btn btn-danger"/>

</form>

<br>

<a asp-action = "Index">Voltar</a>